<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>SSE Example</title>
	<link rel="stylesheet" href="/style.css" />
</head>
<body>
<form method="post">
	<ul id="message-list">
		<li data-template>
			<time data-bind:text="time">00:00</time>
			<span data-bind:text="user" class="user">User</span>
			<span data-bind:text="message">Message</span>
		</li>
	</ul>
	<script src="/sse.js" async></script>

	<input name="user" placeholder="Name" required />
	<input name="message" placeholder="Message..." autofocus required />
	<button>Send</button>
</form>

</body>
</html>