body {
	font-family: monospace;
	font-size: 20px;
	background: #eee;
	overflow: hidden;
}

input,textarea,button {
	font-size: 1rem;
	padding: 0.5rem;
}

form {
	display: grid;
	width: 100%;
	height: 100%;
	grid-gap: 0.5rem;
	grid-template-columns: repeat(
		auto-fill,
		12%
	);
}

form>* {
	border: 1px solid black;
	font-family: inherit;
}

ul {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: calc(100vh - 4rem);
	grid-column: 1 / 10;
	background: white;
}

ul>li {
	padding: 0.5rem;
}

time {
	color: #aaa;
	padding-right: 0.5rem;
}
span.user {
	font-weight: bold;
}

input[name='user'] {
	grid-column: 1 / 3;
}
input[name='message'] {
	grid-column: 3 / 8;
}
button {
	grid-column: 8 / 10;
}